@model ORMFinal.Models.AnimalHealth

<h2 class="display-1 text-center my-4">Create a health report</h2>

@using (Html.BeginForm("Create", "AnimalHealth", FormMethod.Post))
{
    <div class="form-group">
        <label for="HealthStatus">Health Status</label>
        <input type="text" class="form-control" id="HealthStatus" name="HealthStatus" value="@Model.HealthStatus" />
    </div>
    <div class="form-group">
        <label for="ReportDate">Report Date</label>
        <input type="date" class="form-control" id="ReportDate" name="ReportDate" value="@Model.ReportDate.ToString("yyyy-MM-dd")" />
    </div>
    <div class="form-group">
        <label for="LastVaccinationDate">Last Vaccination Date</label>
        <input type="date" class="form-control" id="LastVaccinationDate" name="LastVaccinationDate" value="@Model.LastVaccinationDate.ToString("yyyy-MM-dd")" />
    </div>
    <div class="form-group">
        <label for="AnimalId">Animal</label>
        <select class="form-control" id="AnimalId" name="AnimalId" asp-items="ViewBag.Animals">
            <option value="">-- Select Animal --</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary active btn-lg my-4" name="action" value="CreateAnimalHealth"><i class="fa fa-plus me-2"></i>Create report</button>
}
