html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*My Custom CSS*/


.nav-item:hover {
    background-color: #e6e6e6;
    color: #007bff;
    border-radius: 5px;
}


}

.light-blue {
    background-color: #add8e6;
    font-size: 22px;
}

